html {
    overflow: hidden;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

video {
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 10px;
}

.jumbotron {
    background-color: #ffffff;
    padding: 0;
    padding-top: 50px;
}

.logo {
    width: 43px;
    object-fit: cover;
}

.main-image {
    display: block;
    margin-left: auto;
    max-width: 455px;
    border: 25px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}
.navbar{
    padding-top: 20px;

}

.navbar-brand {
    font-size: 27px;
    padding-left: 10px;
}

.nav-item{
    
    font-size: 16px;
    padding: 0 10px;
    font-weight: 600;
}


.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item {
    padding: 0 10px;
}

.jumbotron-btn li {
    width: 100%;
    margin-right: 50px;
    margin-bottom: 10px;
}

.jumbotron-title {
    font-size: 2rem;
}

.jumbotron-text {
    font-size: 20px;
}

.join-wrapper {
    height: 48px;
    border: 2px solid gray;
    padding: 15px;
    border-radius: 5px;
}

.join-input {
    width: 250px;
    outline: none;
}

/* HOME PAGE*/

.main-wrap {
    background-color: rgb(31, 30, 30);
}

.top-block {
    height: 90vh;
    position: relative;
}

.video-wrap {
    height: 60px;
}

.video-wrap>* {
    flex: 1 1 250px;
    border: 1px solid white;
}

.info-header {
    border-bottom: 1px solid grey;
    border-bottom-left-radius: 10px;
}

.info {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 275px;
    transition: 0.4s ease-in-out;
}

.info-parts {
    position: relative;
}

.info-input {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    padding: 15px;
    width: 100%;
    border-top: 1px solid darkgrey;
    z-index: 10;
}

.cursor-pointer {
    cursor: pointer;
    padding: 5px;
}

#messages {
    overflow-y: auto;
}

.cursor-pointer:hover {
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226, 225, 225);
    border-radius: 5px;
}

.bottom-block {
    padding: 0 20px;
    box-shadow: 0 0 1px #000000;
    height: 10vh;
    z-index: 2;
}

.bottom-left {
    position: relative;
    padding: 5px;
}

.action-icon-style {
    font-size: 8px !important;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.option-wrap {
    position: relative;
}

.signin-image {
    height: 410px;
    border: 5px solid #695CFE;
    border-radius: 5px;
    box-shadow: 1px 1px 5px grey;
}

/* .action-icon-style .material-icons {
    font-size: 18px;
  } */

#meeting {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .jumbotron {
        flex-direction: column-reverse;
        align-items: center;
    }

    .jumbotron-title {

        margin-top: 20px;
        text-align: center;
    }

    .jumbotron-text {
        text-align: center;
    }

    .main-image {
        margin: 0 auto;
    }

    .jumbotron-btn {
        flex-wrap: wrap;
    }

    .jumbotron-btn li {
        text-align: center;
        width: 100%;
    }

    .jumbotron-btn button {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100% !important;
    }

    .top-block {
        justify-content: center;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-icon {
        margin-bottom: 10px;
    }

    .main-image {
        max-width: 100%;
        height: auto;
    }

    video {
        width: 100%;
        height: auto;
    }

    .cursor-pointer {
        padding: 0;
    }
}