.home-wrap{
    background-color: rgb(31, 30, 30);
}

.g-top{
    height: 85vh;
    position: relative;
}

.video-wrap{
    height: 600px;
}

.video-wrap>*{
    flex: 1 1 250px;
    border: 1px solid white;
}

.g-top-left{
    position: absolute;
    right: 0;
    height: 8vh;
    top: 0;
    border-bottom-left-radius: 10px
}

.top-left-participant-wrap{
    position: relative;
}

.cursor-pointer{
    cursor: pointer;
    padding: 5px;
}

.cursor-pointer:hover{
    cursor: pointer;
    padding: 5px;
    background-color: rgb(226, 225, 225);
    border-radius: 5px;

}

.top-left-participant-count{
    position: absolute;
    top: -2px;
    right: -3px;
    font-size: 15px;

}

.g-bottom{
    /* margin: 0 -10px !important; */
    padding: 0 20px;
    box-shadow: 0 0 5px black;
    z-index: 2;

}

.bottom-left{
    position: relative;
    padding: 5px;
} 

.action-icon-style{
    
    font-size: 6px !important;
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 50%;  
     
}

.action-icon-style span.material-icons{
    font-size: 28px;
}

.end-call-wrap{
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}