/* .sidebar-right{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar-right.close{
    width: 88px;
} */